form>.row {
    padding-bottom: 1rem;
}

.form-epa {
    display: flex;
    flex-direction: row;
}

.form-epa>div {
    width: 0;
    flex-grow: 1;
}

.ubicacion-field:disabled {
    filter: brightness(50%);
}

.button-importancia:hover {
    filter: brightness(60%);
}

.ph{
    position: relative;
    margin-top: 25px;
}
.ph input, .ph textarea{
    padding-left: 8px;
}
.ph label{
    position: absolute;
    left: 20px;
    /* top: 50%; */
    top: 18px;
    transform: translateY(-50%);
    transition: all .4s ease;
    pointer-events: none;
    color: #212529;
}

div.ph input:focus + label,
div.ph input :valid + label,

div.ph textarea:focus + label,
div.ph textarea :valid + label {
    /* background-color: white; */
    color: white;
    border-color: blue;
    border: 2px;
    border-radius: 5px;
    font-size: 15px;
    padding: 0.2rem;
    top: -20px;
    left: 15px;
}