form>.row {
    padding-bottom: 1rem;
}

.form-epa {
    display: flex;
    flex-direction: row;
}

.form-epa>div {
    width: 0;
    flex-grow: 1;
}

.ubicacion-field:disabled {
    filter: brightness(50%);
}

.button-importancia:hover {
    filter: brightness(60%);
}

.animated-input{
    position: relative;
    margin-top: 25px;
}
.animated-input input,
.animated-input textarea{
    padding-left: 8px;
}
.animated-input label{
    position: absolute;
    left: 20px;
    top: 18px;
    transform: translateY(-50%);
    transition: all .4s ease;
    pointer-events: none;
    color: #212529;
}

.animated-input input:focus + label,
.animated-input input:valid + label,
.animated-input textarea:focus + label,
.animated-input textarea:valid + label {
    color: white;
    font-size: 15px;
    top: -20px;
    left: 15px;
}