.pantalla-verde{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    height: 50vh;
}
.pantalla-verde > button{
    width: 30rem;
    padding: 2rem;
    /* height: 15rem; */
    font-size: 50px;
}
.link-pverde{
    text-decoration: none;
    color: white;
}
.link-pverde:hover{
    color: #7bd869;
}