.Navbar{
    width: 100%;
    padding: 0;
}

.Navbar *:hover{
    color: #20295B;
}
.navbar-collapse{
    gap: 1rem;
}

.logo {
    height: 2rem;
    margin-right: 1rem;
    cursor: pointer;   
}
.user-foto{
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s ease;
}
.user-foto:hover{
    transform: scale(1.5);
}

span {
    text-align: center;
    font-weight: 500;
}

.navbar-brand{
    display: flex;
    /* align-items: center; */
}

.buscar-section{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 50%;

}

.navbar-fetch-input{
    flex: 3;
}
.navbar-fetch-button{
    flex: 1;
    min-width: fit-content;
}