.Navbar{
    width: 100%;
    padding: 0;
}

.Navbar *:hover{
    color: black;
}
.navbar-collapse{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    height: 2rem;
    margin-right: 1rem;
}
span {
    text-align: center;
}

.navbar-brand{
    display: flex;
    /* align-items: center; */
}

.buscar-section{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 50%;

}

.navbar-fetch-input{
    flex: 2;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
}
.navbar-fetch-button{
    flex: 1;
    min-width: fit-content;
}