.Navbar{
    width: 100%;
}

.logo {
    height: 2rem;
    margin-right: 1rem;
}
span {
    text-align: center;
}

.navbar-brand{
    display: flex;
    /* align-items: center; */
}

.buscar-section{
    display: flex;
    flex-direction: row;
    gap: 10px;
}