.Navbar{
    width: 100%;
    padding: 0;
}

.Navbar *:hover{
    color: #20295B;
}
.navbar-collapse{
    gap: 1rem;
    font-size: 18px;
}
.navbar-collapse > a{
    gap: 1rem;
    font-weight: 600;
    color: #3f51b5;
}
.navbar-collapse > button{
    font-weight: 600;
    color: #3f51b5;
}

.logo {
    height: 2.5rem;
    margin-right: 1rem;
    cursor: pointer;   
}
.user-foto{
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.7)); 
    transition: .2s ease;
    margin: auto;
}
.user-foto:hover{
    /* animation: rotarUsuario 1s infinite; */
    transform: scale(1.5);
}

@keyframes rotarUsuario {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg) scale(1.5);
    }
    100% {
        transform: rotate(360deg);
    }
}

span {
    text-align: center;
    font-weight: 500;
}

.navbar-brand{
    display: flex;
    /* align-items: center; */
}

.buscar-section{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 50%;

}

.navbar-fetch-input{
    flex: 3;
}
.navbar-fetch-button{
    flex: 1;
    min-width: fit-content;
    font-weight: 600 !important;
    /* color: #3f51b5 !important; */
    font-size: 18px !important;
}