.modal-reporte-foto{
    width: 18rem;
    outline: 2px solid var(--color);
    outline-offset: 2px;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.reporte-modal-body{
    background-color: #dfdfdf;
}